.btn-lg {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.btn-primary{
  background-color: #0A9396 !important;
  border-color: #0A9396 !important;
  border-radius: 20px !important;
  color: white !important;
}

.btn-primary:hover{
  background-color: #0A9396 !important;
  border-color: #0A9396 !important;
  border-radius: 20px !important;
  color: white !important;
  box-shadow: 0 0 2px 2px #0A967D !important;
}

.btn-secondary {
  background-color: #FF6E45 !important;
  border-color: #FF6E45 !important;
  border-radius: 20px !important;
  color: white !important;
}

.btn-secondary:hover {
  background-color: #FF6E45 !important;
  border-color: #FF6E45 !important;
  border-radius: 20px !important;
  color: white !important;
  box-shadow: 0 0 2px 2px #FF6E45 !important;
}

.btn-outline-secondary {
  background-color: white !important;
  border-color: black !important;
  border-radius: 20px !important;
  color: black !important;
}

.btn-outline-secondary:hover {
  background-color: white !important;
  border-color: black !important;
  border-radius: 20px !important;
  color: black !important;
  box-shadow: 0 0 2px 2px black !important;
}

