.form-group {
   width: calc(100% * 1 / 3) !important;
   background-color: #E9ECEF;
   padding-top: 30px;
   padding-bottom: 50px;
   border-radius: 30px;
   box-shadow: 0 0 5px 5px #0A9396 !important;
   display: flex;
   flex-direction: column;
}

.accordion-button:not(.collapsed) {
  background-color: #94D2BD !important;
}

.accordion-button {
  background-color: #0A9396 !important;
  color: #ffffff !important;
}